<h1>Check your frequency</h1>
<div class="text">
  <form action="/results">
    <div id="first_input" class="form-group">
      <label for="input">keyword</label>
      <input id="input" name="input" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="list">paragraph</label>
      <input id="list" name="list" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Submit</button>
  </form>
</div>
