<form action="/results" method="get">
  <input id="input" type="text" name="input">
  <input type="text" name="phrase" id="phrase">
  <button type="submit" class="btn-success">Submit</button>
</form>
